/** Styles for all themes */

/* Style for the main element */
.TcHmi_Controls_System_TcHmiContainer, .tchmi-container {
}

.TcHmi_Controls_System_TcHmiContainer-template, .tchmi-container-template {
    perspective: inherit;
    perspective-origin: inherit;
    position: relative;
    width: 100%;
    height: 100%;
}
