/* General theme independed control css. */
.TcHmi_Controls_Beckhoff_TcHmiStateImage {
    display: block;
    overflow: hidden;
}

.TcHmi_Controls_Beckhoff_TcHmiStateImage-image {
    height: 100%;
    width: 100%;
}