/** Styles for the theme: Base-Dark */

/* Style for the main element */
.TcHmi_Controls_Beckhoff_TcHmiCheckbox, .tchmi-checkbox {
    --tchmi-background: #2A3845;
    --tchmi-background-active: linear-gradient(to bottom right, #2774ba, #4794da 20%);
    --tchmi-stroke: white;
    --tchmi-color: white;
}

.TcHmi_Controls_Beckhoff_TcHmiCheckbox-template, .tchmi-checkbox-template {
    background-color: var(--tchmi-background);
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2), inset 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
}

.TcHmi_Controls_Beckhoff_TcHmiCheckbox-toggle-state-icon, .tchmi-checkbox-toggle-state-icon {
    stroke: var(--tchmi-stroke);
}

/* class TcHmi_Controls_Beckhoff_TcHmiCheckbox-active will be set/unset in the control */
.TcHmi_Controls_Beckhoff_TcHmiCheckbox.TcHmi_Controls_Beckhoff_TcHmiCheckbox-active .TcHmi_Controls_Beckhoff_TcHmiCheckbox-template,
.tchmi-checkbox.tchmi-checkbox-active .tchmi-checkbox-template {
    background: var(--tchmi-background-active);
}

.TcHmi_Controls_Beckhoff_TcHmiCheckbox-label {
    color: var(--tchmi-color)
}