/* General theme independed control css. */

.TcHmi_Controls_Beckhoff_TcHmiDateTimeDisplay {
	overflow: hidden;
}

.TcHmi_Controls_Beckhoff_TcHmiDateTimeDisplay-Template {
	width: 100%;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}
