/** Styles for the theme: Base */

/* Style for the main element */
.TcHmi_Controls_Beckhoff_TcHmiLineChart,
.tchmi-line-chart {
    --tchmi-background: #D7D7D9;
    --tchmi-tooltip-background: linear-gradient(135deg, #eff1f3, #aeb9c2);
    --tchmi-tooltip-color: #4794da;
    background: var(--tchmi-background);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
}

.TcHmi_Controls_Beckhoff_TcHmiLineChart-template,
.tchmi-line-chart-template {
    /*background: rgba(255, 255, 255, 0.5);*/
    background: transparent;
}

.TcHmi_Controls_Beckhoff_TcHmiLineChart-template-chart,
.tchmi-line-chart-template-chart {
    background: rgba(255, 255, 255, 0.5);
}

.TcHmi_Controls_Beckhoff_TcHmiLineChart-template-legend {
    background: rgba(255, 255, 255, 0.5);
    color: #4794da;
}

.TcHmi_Controls_Beckhoff_TcHmiLineChart-template-tooltip .TcHmi_Controls_Beckhoff_TcHmiLineChart-template-tooltip-text,
.tchmi-line-chart-template-tooltip .tchmi-line-chart-template-tooltip-text {
    background-image: var(--tchmi-tooltip-background);
    color: var(--tchmi-tooltip-color);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
}

.TcHmi_Controls_Beckhoff_TcHmiLineChart-template-tooltip-arrow,
.tchmi-line-chart-template-tooltip-arrow {
    background-image: var(--tchmi-tooltip-background);
}