/** Styles for all themes */

/* Style for the main element */
.TcHmi_Controls_Beckhoff_TcHmiNumericInput {
    /* Prevent overflow if the border radius is huge */
    overflow: visible;
}

.TcHmi_Controls_Beckhoff_TcHmiNumericInput-template{
    position: relative;
    display:flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}


.TcHmi_Controls_Beckhoff_TcHmiSpinboxInput-template-button-before,
.TcHmi_Controls_Beckhoff_TcHmiSpinboxInput-template-button-after {
    display: flex;
    flex-direction: column;
    flex-basis: 0px;
    flex-grow: 0;
    flex-shrink: 0;
    height: calc(100% - 2px);
    padding: 1px;
}

    .TcHmi_Controls_Beckhoff_TcHmiSpinboxInput-template-button-before .button,
    .TcHmi_Controls_Beckhoff_TcHmiSpinboxInput-template-button-after .button {
        position: relative;
        display: flex;
        width: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        align-items: center;
        justify-content: center;
    }