/** Styles for all themes */

/* Style for the main element */
.TcHmi_Controls_Beckhoff_TcHmiAudio {
    /* Prevent overflow if the border radius is huge */
    overflow: hidden;
}

.TcHmi_Controls_Beckhoff_TcHmiAudio-template {
    position: relative;
    width: 100%;
    height: 100%;
}

.TcHmi_Controls_Beckhoff_TcHmiAudio-template-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.TcHmi_Controls_Beckhoff_TcHmiAudio-template-focus-border {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.TcHmi_Controls_Beckhoff_TcHmiAudio-template-border {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}